{% extends 'base.html' %}
{% block content %}
<div class="message-box">
    <div class="room-header">
        <h2>Chat Room: {{ code }}</h2>
        <a href="/leave" class="leave-btn">Leave Room</a>
    </div>
    <div class="messages" id="messages"></div>
    <div class="input">
        <input type="text" rows="3" id="message" placeholder="Type your message here..." name="message" />
        <button type="button" id="send-button" onClick="sendMessage()" name="send">Send</button>
    </div>
</div>
<script type="text/javascript">
    var socketio = io();

    const messages = document.getElementById("messages");

    const createMessage = (name, msg, isSelf = false) => {
    const side = isSelf ? 'sent' : 'received';
    const initials = name.slice(0, 2).toUpperCase();
    const content = `
        <div class="text ${side}">
        <div class="avatar">${initials}</div>
        <div class="bubble-wrap ${side}">
            <div class="bubble ${side}">${msg}</div>
            <span class="muted">${new Date().toLocaleTimeString()}</span>
        </div>
        </div>
    `;
    messages.innerHTML += content;
    messages.scrollTop = messages.scrollHeight;
    };

    const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value === "") return;
    createMessage("You", message.value, true); // show immediately
    socketio.emit("message", { data: message.value });
    message.value = "";
    };

    socketio.on("message", (data) => {
    createMessage(data.name, data.message, false); // others
    });
</script>
{% for msg in messages %}
    <script type="text/javascript">
        createMessage("{{msg.name}}", "{{msg.message}}");
    </script>
{% endfor %}
{% endblock %}